@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var dashboard = ViewData["dashboard"] as DashboardView;
    var orders = ViewData["orders"] as string;
}
@model DashboardFilter;

<div id="content">
    <div id="content-left">
        <ul>
            <a asp-action="Dashboard" asp-controller="Admin">
            <li>Dashboard</li></a>
            <a asp-action="Order" asp-controller="Admin">
            <li>Orders</li></a>
            <a asp-action="Product" asp-controller="Admin">
            <li>Products</li></a>
            <a href="#">
            <li>Customers</li></a>
        </ul>
    </div>
    <div id="content-right">
        <div class="path-admin">DASHBOARD</b></div>
        <div class="content-main">
            <div id="content-main-dashboard">
                <div id="dashboard-1">
                    <div id="dashboard-1-container">
                        <div class="dashboard-item">
                            <div class="dashboard-item-title">Weekly Sales</div>
                            <div class="dashboard-item-content">$47K</div>
                        </div>
                        <div class="dashboard-item">
                            <div class="dashboard-item-title">Total Orders</div>
                            <div class="dashboard-item-content">$@dashboard.TotalOrders</div>
                        </div>
                        <div class="dashboard-item">
                            <div class="dashboard-item-title">Total Customers</div>
                            <div class="dashboard-item-content">@dashboard.TotalCustomer</div>
                        </div>
                        <div class="dashboard-item">
                            <div class="dashboard-item-title">Total Guest</div>
                            <div class="dashboard-item-content">@dashboard.TotalGuest</div>
                        </div>
                    </div>
                </div>
                <div id="dashboard-2">
                    <form asp-action="Dashboard" asp-controller="Admin">
                        <select onchange="this.form.submit();" asp-for="Year" />
                    </form>
                    <div id="chart" style="text-align: center;">
                        <div id="chart1">
                            <h3>Statistic Orders (Month)</h3>
                            <canvas id="myChart1" style="width: 100%;"></canvas>
                        </div>
                        <div id="chart2">
                            <canvas id="myChart2" style="width: 80%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    function OrdersChart() {
        var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
        new Chart("myChart1", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    //data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                    data: @orders,
                    borderColor: "sienna",
                    fill: true
                }]
            },
            options: {
                legend: { display: false }
            }
        });
    }

    function CustomersChart() {
        var xValues = ["Total", "New customer"];
        //var yValues = [200, 50, 300];
        var yValues = [@dashboard.TotalCustomer, @(dashboard.TotalCustomer - dashboard.TotalGuest) , @(dashboard.TotalCustomer + dashboard.TotalGuest)];
        var barColors = ["green", "red"];

        new Chart("myChart2", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "New Customers (30 daily Avg)"
                }
            }
        });
    }
    OrdersChart();
    CustomersChart();
</script>
