@{
    ViewData["Title"] = "Login";
    var error = ViewData["error"] as string;
}
@model LoginView
<div id="content">
    <div id="form">
        <div id="form-title">
            <span><a asp-action="Register" asp-controller="Permission">SIGN UP</a></span>
            <span><a asp-action="Login" asp-controller="Permission" style="color: red;">SIGN IN</a></span>
        </div>
        <div id="form-content">

            <form asp-controller="Permission" asp-action="LoginAccount">

                <label>Email<span style="color: red;">*</span></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />
                <label>Password<span style="color: red;">*</span></label><br />
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />
                @if (error != null)
                {
                    <div><span style="color: red;">@error</span></div>
                }
                <div><a asp-action="ForgotPass" asp-controller="Permission">Forgot password?</a></div>
                <input type="submit" value="SIGN IN" /><br />
                <input type="button" value="FACEBOOK LOGIN" style="background-color: #3b5998;" /><br />
                <input type="button" value="ZALO LOGIN" style="background-color: #009dff;margin-bottom: 30px;" />
            </form>
        </div>
    </div>
</div>